*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.item {
  position: relative;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 20px;
}

.item-title {
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
}

.item-image {
  margin: 0 20%;
  height: 300px;
  width: 300px;
  border-radius: 20px;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 15px;
}

.item-details > .item-price {
  margin: 0;
}

/* MEDIA PARA LOS PRODUCTOS  */

@media screen and (max-width: 1024px){
    .item-image{
        width: 220px;
        margin: 0 20%;
    }
}
@media screen and (max-width: 970px){
    .item-image{
        width: 220px;
        margin: 0 20%;
    }
}

@media screen and (max-width: 767px){
    .item-image{
        width: 230px;
        margin: 0 27%;
    }
}
@media screen and (max-width: 500px){
    .item-image{
        width: 180px;
        margin: 0 30%;
    }
}


/* ? SHOPPING CART */
.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}
body{
  background: url(https://k62.kn3.net/taringa/4/8/3/F/4/6/HinchaMillonario/A1E.jpg);
}
.containerMain{
  width: 90%;
  margin: 30px auto;
  background-color: aliceblue;
  border-radius: 20px;
}
.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

.b-example-divider {
height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
flex-shrink: 0;
width: 1.5rem;
height: 100vh;
}

.bi {
vertical-align: -.125em;
fill: currentColor;
}
nav{
position: fixed;
top: 0%;
z-index: 10000000;
width: 100%;
}
.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}

.nav-scroller .nav {
display: flex;
flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
overflow-x: auto;
text-align: center;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}